
.__skills__recordItem {
  font-family: var(--jetbrainsmono-font);
  font-weight: 500;
  background-color: var(--robtz__blackSoft);
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  margin: 1rem 0;
  cursor: pointer;
}

.__skills__recordItem img {
  width: 3rem;
  margin-right: 2rem;
}

.__skills__recordItemPercentage {
  margin-left: auto;
}
