
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7rem;
}

.logo {
	color: orange;
	font-size: 2rem;
	font-weight: 700;
}

.navbar {
	color: white;
}
.navbar a {
	margin-left: 1.7rem;
}
