
.__header {
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  height: 5.6em;
  border-bottom: 0.5px solid gray;
  padding: 0 1rem;
}
.__header > .__container {
  display: flex;
  justify-content: space-between;
}

.__header__logo {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
}
.__header__logo p {
  font-size: 26px;
}
.__display__logo__img {
  width: 35px;
  margin-right: 8px;
}

.__header__navbar {
  display: flex;
  color: white;
  font-weight: 500;
  align-items: center;
}
.__header__navbar a {
  margin-left: 13px;
}
