
:root {
	/* Colors */
	--background-black-soft: #1D1E22;
  --white: rgba(255, 255, 255, 0.89);
	--black-30: rgba(255,255,255,0.3);
  --black-45: rgba(45, 45, 45, 1);
  --black-soft: #A0AEC0;

	/* Typography */
	--open-sans: 'Open Sans', sans-serif;
  --inter-font: 'Inter', sans-serif;

  /* Font-sizing */
  --font-1: 1rem;
}

html {
	font-size: 62.5%;
	font-family: var(--inter-font);
	scroll-behavior: smooth;
	transition-duration: 500ms;
} body {
  color: var(--white);
} * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} a {
	text-decoration: none;
	color: unset;
}

h1 {
	color: blue;
}
p { 
  font-size: 1.6rem;
  text-align: justify;
}


/* Generals */

.__container {
	width: 76rem;
	margin: 0 auto;
}
.__container__body {
  width: 50.4rem;
  margin: 0 auto;
}

/*  */

.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px -6px/2px
      6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px
      14px/2px 6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 14px
      5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}
.gg-sun::before {
  transform: rotate(-45deg);
}
.gg-sun::after {
  transform: rotate(45deg);
}



.App {
  min-height: 100vh;
	background-color: var(--background-black-soft);
}


/* Footer */


/* Last Message */
.app__footer__message {
	padding: 3rem 0;
	text-align: center;
	color: var(--black-30);
	font-weight: 300;
	font-size: 1.4rem;
}
.app__body--prebody{
  color: white;
  background-color: var(--black-45);
  width: 100%;
  height: 6rem;
  margin: 2rem 0;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.6;
}
